{
  "presets": [
  	"react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": 8
      },
      "include": []
    }]
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}